body{
	background-image:url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    }
.container{
	width:100%;
	padding:0px;
}
#header{
	height: 130px;
background-color: rgba(233, 233, 69, 0.34);
border: 3px solid black;
vertical-align: middle;
font-size: 45px;
font-family: monospace;
color: black;
font-weight: bold;
padding: 30px 30px;
}
#subHeader{
	font-size: 20px;
}


#cart{
	background-color: rgba(255, 255, 255, 0.81);
border: 3px solid black;
}

#desc{
	background-color: rgba(255, 255, 255, 0.81);
border: 3px solid black;
position: relative;
top: 200px;
height: 300px;
width: 500px;
padding: 10px;
}

#createNew{
	position:absolute;
	bottom:10px;
	right:10px;
}

#selectorView{
	padding: 0px 0px;
}

#dishesHeader{
	height: 130px;
	background-color: rgba(202, 202, 160, 1);
border: 3px solid black;


}
#dishList{
	padding: 20px;
	background-color: rgba(243, 243, 243, 1);
border: 3px solid black;
}

#conf_row{
	border-top: 1px solid black;
	border-spacing: 10px;			
}



td{
	padding: 10px;
	border: 1px solid black;
}

table{
	border: 2px solid black;
}

.dish{
	margin:10px;
	border: 1px solid black;
	padding: 5px;
	width:200px;
	height:300px;
	float:left;
	word-wrap: break-word;
	overflow:hidden;
	font-size: 10px;
	text-overflow: ellipsis;

-o-text-overflow: ellipsis;
}
.dishImage{
	height:150px;
	width:100%;

}

.search{
	float:left;
	margin-right:40px;
}

#dishView{
	background-color:white;
	border: 1px solid black;

}
#dishDesc{
	min-height:100px;


}
#dishDesc img{
	max-width:500px;
	max-height: 200px;
}

#dishIngredients{
	background-color: rgba(233, 233, 69, 0.34);
	min-height:100px;
	color:black;
    padding: 30px;
}

#dishPreperation{


	min-height:100px;
}

#selectedMenu {
	padding: 10px;
}
#selectedMenu table{
	width: 100%;
}

#selectedMenu table #td1{
	width: 80%;
}
#selectedMenu table #td2{
	width: 20%;
}
#dishView td{
	padding:2px 10
}
